<footer>
    <div class="footer-wrapper">
        <div class="card-wrapper">
            <p-card header="Navigation">
                <div class="list-item-wrapper">
                    <p-button label="{{ 'ABOUT_US' | transloco }}" link />
                    <p-button label="{{ 'TERMS_CONDITIONS' | transloco }}" link />
                    <p-button label="{{ 'CONTACT' | transloco }}" link />
                </div>
            </p-card>
        </div>


        <div class="card-wrapper">
            <p-card header="Products">
                <div class="list-wrapper">
                    <div class="list-item-wrapper">
                        <p-button label="{{ 'SUSHI' | transloco }}" routerLink="/products/sushi" link />
                        <p-button label="{{ 'ROLL' | transloco }}" routerLink="/products/roll" link />
                        <p-button label="{{ 'SET' | transloco }}" routerLink="/products/set" link />
                    </div>

                    <div class="list-item-wrapper">
                        <p-button label="{{ 'WOK' | transloco }}" routerLink="/products/wok" link />
                        <p-button label="{{ 'SOUP' | transloco }}" routerLink="/products/soup" link />
                        <p-button label="{{ 'OTHER' | transloco }}" routerLink="/products/other" link />
                    </div>
                </div>
            </p-card>
        </div>

        <div class="card-wrapper">
            <p-card header="Contact Info">
                <div class="list-item-wrapper">
                    <p-button label="+995 123 45 67 89" link />
                    <p-button label="{{ 'FACEBOOK' | transloco }}" link />
                    <p-button label="{{ 'INSTAGRAM' | transloco}}" link />
                </div>
            </p-card>
        </div>
    </div>
</footer>