<footer>
    <div class="footer-wrapper">
        <div class="card-wrapper">
            <div class="menu-item">
                <h3>{{ "NAVIGATION" | transloco }}</h3>

                <div class="list-item-wrapper">
                    <button class="link_button" routerLink="/about_us">
                        <i class="fas fa-info-circle"></i> {{ 'ABOUT_US' | transloco }}
                    </button>
                    <button class="link_button" routerLink="/terms_conditions">
                        <i class="fas fa-file-contract"></i> {{ 'TERMS_CONDITIONS' | transloco }}
                    </button>
                </div>
            </div>
        </div>


        <div class="card-wrapper card-wrapper-wide">
            <div class="menu-item">
                <h3>{{ "PRODUCTS" | transloco }}</h3>

                <div class="list-wrapper">
                    @for (column of productColumns; track $index) {
                    <div class="list-item-wrapper">
                        @for (type of column; track type.slug) {
                        <button class="link_button" [routerLink]="['/products', type.slug]">
                            {{ type.emoji }} {{ type.label | transloco }}
                        </button>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="menu-item">
                <h3>{{ "CONTACT_US" | transloco }}</h3>

                <div class="list-item-wrapper">
                    <a class="link_button" href="tel:+995598944434">
                        <i class="fas fa-phone"></i> +995 598 94 44 34
                    </a>
                    <a class="link_button" href="mailto:Infosenseibox@gmail.com">
                        <i class="fa-solid fa-inbox"></i> Infosenseibox@gmail.com
                    </a>
                    <a class="link_button" href="https://www.facebook.com/p/Sensei-sushiსენსეი-სუში-61553853574746">
                        <i class="fab fa-facebook"></i> {{ 'FACEBOOK' | transloco }}
                    </a>
                    <a class="link_button" href="https://www.instagram.com/sensei.sushi1">
                        <i class="fab fa-instagram"></i> {{ 'INSTAGRAM' | transloco }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
