:host {
    min-width: max-content;
    padding: 2rem;
    width: 100%;

    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

footer {
    height: 100%;
    width: 100%;

    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

.footer-wrapper {
    max-width: 60rem;
    width: 100%;

    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.card-wrapper {
    height: fit-content;
    width: fit-content;
}

.list-wrapper {

    flex-direction: row;
    display: flex;
}

.list-item-wrapper {
    flex-direction: column;
    display: flex;
}