:host {
    min-width: max-content;
    padding: 2rem;
    width: 100%;

    justify-content: space-around;
    flex-direction: column;
    display: flex;
}

footer {
    height: 100%;
    width: 100%;

    justify-content: space-around;
    flex-direction: column;
    display: flex;
}