:host {
    flex-direction: column;
    min-height: max-content;
    display: flex;
    height: 100%;
    width: 100%;
}

main {
    flex-direction: column;
    max-width: 100%;
    display: flex;
    width: 100%;
    flex: 1;
}