/*:host {
  flex-direction: column;
  min-height: max-content;
  display: flex;
  height: 100%;
  width: 100%;
}*/
:host {
  flex-direction: column;
  min-height: max-content;
  display: flex;
  height: 100%;
  width: 100%;

  background:
    radial-gradient(circle at 20% 80%, var(--accent-secondary-hover-60) 0%, transparent 50%),
    radial-gradient(circle at 80% 20%, var(--accent-primary-hover-60) 0%, transparent 50%),
    linear-gradient(135deg, var(--primary-bg-60) 0%, var(--border-medium-60) 100%);

  color: var(--text-primary);
  overflow-x: hidden;
}

div {
  flex-direction: column;
  max-width: 100%;
}


.moving-image1 {
  position: absolute;
  top: 200px;
  left: -200px;
  width: 200px;
  height: 200px;
  z-index: -100;
  animation: moveAcross 12s ease-in-out infinite;
}

.moving-image2 {
  position: absolute;
  top: 500px;
  left: -400px;
  width: 200px;
  height: 200px;
  z-index: -100;
  animation: moveAcross 20s ease-in-out infinite;
}

.moving-image3 {
  position: absolute;
  top: 650px;
  left: -300px;
  width: 200px;
  height: 200px;
  z-index: -100;
  animation: moveAcross 15s ease-in-out infinite;
}

.moving-image4 {
  position: absolute;
  top: 100px;
  left: -250px;
  width: 200px;
  height: 200px;
  z-index: -100;
  animation: moveAcross 15s ease-in-out infinite;
}

@keyframes moveAcross {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateX(120vw);
    opacity: 0;
  }
}
