<div>
  <app-products-nav-bar [types]="productTypes"></app-products-nav-bar>


  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products" (click)="handleShowDialog(product)">
      <div class="media">
        <img [src]="product.img" [alt]="product.name" />
      </div>

      <div class="info">
        <h3 class="name">{{ product.name }}</h3>
        <p class="price">{{ product.price | currency }}</p>
      </div>
    </div>
  </div>

  <app-custom-dialog [(visible)]="showDialog" title="{{chosenProduct.name}}">
    <p>{{chosenProduct.description}}</p>
  </app-custom-dialog>

</div>
