<div>
  <app-products-nav-bar [types]="productTypes"></app-products-nav-bar>


  <div class="product-grid">
    @for (product of products; track product.name) {
    <div class="product-card" (click)="handleShowDialog(product)">
      <div class="menu-item" style="margin-bottom: 1rem;">
        <div class="media">
          <img [src]="product.img" [alt]="product.name" />
        </div>

        <div class="info">
          <h3 class="name">{{ product.name | transloco }}</h3>
          <div class="pieces">
            @if (product.pieceAmount) {
            {{ product.pieceAmount }} {{ "PIECE" | transloco }}
            } @else if (product.pieceMl) {
            {{ product.pieceMl }}{{ "UNIT_ML" | transloco }}
            } @else if (product.cupAmount) {
            {{ product.cupAmount }} {{ "CUP" | transloco }}
            } @else {
            ???
            }
          </div>
        </div>

        <div class="price-box">
          {{ product.price | currency:'GEL':'₾' }}
        </div>
      </div>
    </div>
    }
  </div>

  <app-custom-dialog [(visible)]="showDialog" title="{{chosenProduct.name | transloco}}">
    <div class="media">
      <img [src]="chosenProduct.img" [alt]="chosenProduct.name" />
    </div>

    <p>
      @for (ingredient of chosenProduct.ingredients; track ingredient) {

      @if (!$last) {
      {{ ingredient | transloco }},
      } @else if ($last && $count > 1) {
      {{ "AND" | transloco }} {{ ingredient | transloco }}
      } @else {
      {{ ingredient | transloco }}
      }

      }
    </p>
  </app-custom-dialog>

</div>
