<nav class="type-nav">
  <div class="menu-item">
    <ul class="type-list">
      @for (type of types; track type.label) {
      <li class="type-item">
        <button class="menu-btn" [routerLink]="['/products', type.slug]" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" [title]="type.label | transloco">
          <span class="btn-icon">{{ type.icon }}</span>
          <span class="btn-text">{{ type.label | transloco }}</span>
        </button>
      </li>
      }
    </ul>
  </div>
</nav>