:host {
  min-width: 0;
  padding: 2rem;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0;
  color: var(--text-white);
  flex-wrap: wrap;
}

section {
  max-width: 50rem;
  width: fit-content;
}

.text-wrapper {
  flex-direction: row;
  display: flex;
}
