<header>
  <a class="icon-wrapper" routerLink="/">
    <img src="icon.png" alt="Sensei Sushi" height="100" width="114">
    <h1 class="header-text">{{ "TITLE" | transloco }}</h1>
  </a>

  @if (hamburgerEnabled) {
  <div class="hamburger-menu">
    <button class="hamburger" aria-label="Open menu" aria-controls="main-menu"
      [attr.aria-expanded]="hamburgerOpen" (click)="toggleHamburger()" [class.open-hamburger]="hamburgerOpen">
      <svg viewBox="0 0 24 24" width="70" height="70" aria-hidden="true">
        <path class="line line1" d="M3 6h18"></path>
        <path class="line line2" d="M3 12h18"></path>
        <path class="line line3" d="M3 18h18"></path>
      </svg>
    </button>
    <nav id="main-menu" class="hamburger-nav" [class.open-hamburger-nav]="hamburgerOpen">
      <ul class="hamburger-list">
        @for (item of navLinks; track item.link) {
        <li>
          <button class="menu-btn" [routerLink]="item.link" (click)="closeHamburger()">
            <i [class]="item.icon"></i> {{ item.label | transloco }}
          </button>
        </li>
        }
        <li>
          <div class="hamburger-lang-container">
            @for (lang of languages; track lang.code) {
            <button class="menu-btn" (click)="setLang(lang.code)">{{ lang.label }}</button>
            }
          </div>
        </li>
      </ul>
    </nav>
  </div>
  } @else {
  <nav class="menu-item menu-bar">
    @for (item of navLinks; track item.link) {
    <button class="menu-btn" [routerLink]="item.link">
      <i [class]="item.icon"></i> {{ item.label | transloco }}
    </button>
    }
    <button #langBtn class="menu-btn" (click)="toggleDropdown()">
      <i class="fa-solid fa-language"></i> {{ "LANGUAGE" | transloco }} ▾
    </button>
  </nav>
  }
</header>

@if (dropdownOpen) {
<div class="menu-item dropdown-portal"
  [ngStyle]="{ top: dropdownPos.top + 'px', left: dropdownPos.left + 'px', width: dropdownPos.width + 'px' }">
  @for (lang of languages; track lang.code) {
  <a (click)="setLang(lang.code)">{{ lang.label }}</a>
  }
</div>
}
