<header>
    <div class="icon-wrapper" routerLink="">
        <img src="favicon.ico" alt="ICON" height="60px" width="60px">
        <h1 class="header-text"> Sushi Sensei </h1>
    </div>

    <div class="menu-item" style="padding: 1rem;">
        <button class="menu-btn" style="margin-right: 0.5rem;" routerLink="/about_us">About Us</button>
        <button class="menu-btn" style="margin-right: 0.5rem;" routerLink="/contact_us">Contact Us</button>

        <!-- Button reference -->
        <button #langBtn class="menu-btn" (click)="toggleDropdown()">Language ▾</button>
    </div>
</header>

@if (dropdownOpen) {
<div class="menu-item dropdown-portal" [ngStyle]="{ top: dropdownPos.top + 'px', left: dropdownPos.left + 'px' }">
    <a (click)="setLang('en')">English</a>
    <a (click)="setLang('ka')">ქართული</a>
    <a (click)="setLang('rus')">Русский</a>
</div>
}