<section class="hero">
    <div pAnimateOnScroll class="scroll-indicator">
        <span>Scroll Down</span>
        <div class="scroll-arrow">
            <i class="pi pi-arrow-down"></i>
        </div>
    </div>

    <div class="seperator"></div>

    <div class="hero-content" pAnimateOnScroll enterClass="fade-in" leaveClass="fade-out">
        <h1>Sensei Sushi</h1>
        <p>Japanese Restaurant & Delivery</p>
    </div>
</section>


<section pAnimateOnScroll enterClass="fade-in" leaveClass="fade-out" class="content-section">
    <div class="text-wrapper fade-in-up">
        <h2>Fresh • Authentic • Delicious</h2>
        <h4>Discover our carefully crafted selection of premium sushi, made with the finest ingredients and traditional
            techniques passed down through generations.</h4>
    </div>

    <div class="menu-grid">
        <div class="menu-item scale-in">
            <h3>🍣 Sushi</h3>
            <p-button label="Explore" rounded="true" severity="success" routerLink="/products/sushi" />
        </div>

        <div class="menu-item scale-in">
            <h3>🍙 Rolls</h3>
            <p-button label="Explore" rounded="true" severity="success" routerLink="/products/rolls" />
        </div>

        <div class="menu-item scale-in">
            <h3>🍱 Sets</h3>
            <p-button label="Explore" rounded="true" severity="success" routerLink="/products/sets" />
        </div>

        <div class="menu-item scale-in">
            <h3>🥢 Wok</h3>
            <p-button label="Explore" rounded="true" severity="success" routerLink="/products/wok" />
        </div>

        <div class="menu-item scale-in">
            <h3>🍜 Soup</h3>
            <p-button label="Explore" rounded="true" severity="success" routerLink="/products/soup" />
        </div>

        <div class="menu-item scale-in">
            <h3>🍵 Other</h3>
            <p-button label="Explore" rounded="true" severity="success" routerLink="/products/other" />
        </div>
    </div>
</section>