<div class="text-wrapper">
    <h1>{{ "SLONGAN_HEADER" | transloco}}</h1>
    <h4>{{ "SLOGAN_FOOTER" | transloco}}</h4>
</div>

<div>
    <div class="grid-container">
        <div class="grid-item">
            <p-button [outlined]="true" routerLink="/products/sushi">
                <p>
                    {{ 'SUSHI' | transloco }}
                </p>
            </p-button>
        </div>
        <div class="grid-item">
            <p-button [outlined]="true" routerLink="/products/roll">
                <p>
                    {{ 'ROLL' | transloco }}
                </p>
            </p-button>
        </div>
        <div class="grid-item">
            <p-button [outlined]="true" routerLink="/products/set">
                <p>
                    {{ 'SET' | transloco }}
                </p>
            </p-button>
        </div>
        <div class="grid-item">
            <p-button [outlined]="true" routerLink="/products/wok">
                <p>
                    {{ 'WOK' | transloco }}
                </p>
            </p-button>
        </div>
        <div class="grid-item">
            <p-button [outlined]="true" routerLink="/products/soup">
                <p>
                    {{ 'SOUP' | transloco }}
                </p>
            </p-button>
        </div>
        <div class="grid-item">
            <p-button [outlined]="true" routerLink="/products/other">
                <p>
                    {{ 'OTHER' | transloco }}
                </p>
            </p-button>
        </div>
    </div>
</div>